@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary:#fea116;
    --light:#f1f8ff;
    --dark:#0f172b;
    --font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-family);
    font-weight: bold;
}
.textprimary{
    color: var(--primary);
}
.btn-primary{
    background-color: var(--primary);
    border: none;
    outline: none;
}
.pg-primary{
    background-color: var(--primary);
}
.navbar-nav .nav-link{
    margin-right: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}
.navbar-nav .nav-link:hover{
    color: var(--primary);
}
.btn{
    font-weight: 500;
    text-transform: uppercase;
    transition:0.5s;
}
.btn.btn-primary,
.btn.btn-secondry{
    color: #fff;
}
.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, 0.7);
    z-index: 1;
}
.carousel-control-prev,
.carousel-control-next{
    width: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 3rem;
    height: 3rem;
}
.booking{
    position: relative;
    margin-top: -100px;
    z-index: 1;
}
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.section-title::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(image/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
}
.service-item{
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 45px rgba(0,0,0,0.08);
    transition: 0.5s;
}
.service-item:hover{
    background: var(--primary);
}
.service-item.service-icon{
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
}
.service-item:hover i{
    color: #fff;
}
footer p{
    font-weight: 500;
}
footer li{
    font-weight: 500;
}
footer li:hover{
   transform: scale(1.01);
}
.arrow{
    position: fixed;
    background-color: var(--primary);
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    align-items: center;
}






@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
